img {
	max-width:400px;	
}
.TestDivs {
	width:400px;
	height:400px;
	border: black solid 2px;
	margin: auto;
}
code {
	background-color: #f1f1f1;
	color: #000000;
}
		#CyanPurple {
			animation: CyanPurpleBackground 2s infinite;
		}
		
		#blurry {
			filter: blur(5px);
		}
		#negative {
			filter: invert(1);
		}
		
		#sat {
			filter: saturate(2000%);
		}
		#rot90 {
			transform: rotate(90deg) scaleX(-1);
		}
		#rot_90 {
			transform: rotate(-90deg) scaleX(-1);
		}

		@keyframes CyanPurpleBackground{
			0%		{ background-color: #00ffff;}
			50%	    { background-color: #ff00ff;}
			100%    { background-color: #00ffff;}
		}

