body {
	background-color:#200025;
	font-family: Helvetica, sans-serif;
}
h3,h2,h1,p,li {
	color:#98FB98;
}

.container{
	margin:auto;
	overflow:hidden;
}

nav {
	color:#301030;

	margin-right:40px;
	float:right;
	
}

/*header*/
header {
	color:#0000ff;
}

.center {
	text-align: center;
}

header li {
	display:inline;
	margin-left:20px;
	margin-right:20px;
}

header a {color:#00bbff; text-decoration:none; text-transform:uppercase;font-weight:bold;}
header a:hover {color:#aad0ff;}

header .current a{
	color:#008cbf;
}

/*New photo showcase*/
aside#sidebar{
	float:right;
	width:30%;
}

aside#sidebar ul {
	list-style:none;
	margin-left:-100px;
}

aside#sidebar h3 {
	margin-left:-60px;
}

.photo-showcase {
	margin-left:30%;
	margin-right:30%;
}

article img {
	margin-left:10px;
	margin-top:10px;
	max-height:600px;
	float:left;
}





#fanfic-box {
	list-style:none;
	border: #98fb98 solid 1px;
	background: #200025;
	padding:20px;	
}

article#fanfic-list {
	width:40%;
	float:right;
	margin-left:20%;
	margin-top:3%;
}

.Box {
	list-style:none;
	border: 2px solid #98fb98;
	width:50%;
	margin-left:25%;
	font-weight:bold;	
}

.WideBox {
	list-style:none;
	border: 2px solid #98fb98;
	width:80%;
	margin-left:10%;
}

.WideBox h {
	padding:10px;
}

.WideBox ul {
	padding:10px;
	line-height:1.6;
}
